# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
*.egg-info/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/

# Logs
logs/
*.log

# Docker
docker-compose.override.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Security
*.key
*.pem
*.crt
fim_baseline.json

# Uploads
static/uploads/
uploads/
quarantine/
scans/
